@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*, *::after, *::before {
    box-sizing: border-box;
}
html {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #303135;
}

body {
  margin: 0;
  padding: 64px;
  background: linear-gradient(90deg, rgba(0,14,25,1) 0%, 
  rgba(240,245,249,1) 0%, rgba(240,245,249,1) 0%,
  rgba(255,255,255,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  font-family: "Roboto";
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: #434343;
  margin-bottom: 0px;
}

h2 {
  font-size: 2.25rem;
  color: #434343;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.error-space {
  height: 20px;
  padding: 0px;
  margin: 0px;
  font-size: 1.5rem;
  color: #BD2323;
}
p {
  margin-top: 0px;
}

input[type='url'] {
  width: 880px;
  height: 88px;
  padding: 40px;
  margin: 30px;
  border-radius: 55px;
  font-size: 1.5rem;
  -webkit-box-shadow: 0px 14px 15px 2px rgba(0,0,0,0.25); 
  box-shadow: 0px 14px 15px 2px rgba(0,0,0,0.25);
  border: 0px;
}

input[type='submit'] {
  width: 225px;
  height: 90px;
  font-size: 2.25rem;
  color: #F9FBFD;
  background-color: #2E80D2;
  border-radius: 20px;
  border: 0px; 
  -webkit-box-shadow: 0px 14px 15px 2px rgba(0,0,0,0.25); 
  box-shadow: 0px 14px 15px 2px rgba(0,0,0,0.25);
}

.short-url {
  font-size: 1.5rem;
}